*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4f8f2;
    color:#333;
}

nav{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(0,0,0,.75);
    backdrop-filter:blur(8px);
    z-index:999;
}

.logo h2{
    color:#8fd14f;
    font-size:30px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

nav ul li a:hover{
    color:#8fd14f;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url("images/hero.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero-content{
    max-width:850px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    background:#2E8B57;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:50px;
    transition:.3s;
    font-weight:bold;
}

.btn:hover{
    background:#66bb6a;
}

section{
    padding:90px 10%;
}

section h2{
    text-align:center;
    color:#2E8B57;
    margin-bottom:40px;
    font-size:40px;
}

#nosotros p,
#galeria p,
#contacto p{
    max-width:900px;
    margin:auto;
    text-align:center;
    font-size:18px;
    line-height:1.8;
}

.contenedor{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.tarjeta{
    background:white;
    padding:30px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.4s;
}

.tarjeta:hover{
    transform:translateY(-10px);
}

.tarjeta h3{
    color:#2E8B57;
    margin-bottom:15px;
}

footer{
    background:#16331f;
    color:white;
    text-align:center;
    padding:35px;
    margin-top:50px;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero h1{
    font-size:40px;
}

.hero p{
    font-size:18px;
}

section h2{
    font-size:32px;
}

}
